
.nav__responsive-ul{
    display: none;
    /* el segundo menu aparecera cuando las resoluciones sean menores  */
}
.nav{
    background: #377bfa;
}
.nav__li{
    display: inline-block;
    padding: 13px;
    color: #fff;
    /* Se coloca un display block para que los elementos deltro del li se comporten como linea y con las propiedades del bloque */
}
.nav__li:hover > a {
color: #d3d1d4;
}
.nav__li:hover{
    color: #d3d1d4;
}
/* 
se anexa efecto hover en los iconos y texto
*/
.nav__li a{
    color: #fff;
    font-family: 'Antonio', sans-serif;
    font-weight: 100;
    text-decoration: none;
}
.nav__li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;

    /* 
    inidicamos que los iconos se adapten al contenido de la caja y que se ajusten a la derecha */
}

.nav__responsive-button-conteiner{
    position: absolute;
    width: 100%;
    font-size: 25px;
    background-color: #3d7df5;
    margin-top: -74px;
    z-index: 100;
}
.nav__responsive-button{
    padding: 14px 20px;
    text-align: right;
    width: 100%;
    
}
@media only screen and (max-width: 450px){
    .nav__ul{
        /* cuando la resolucion sea mas chica se desaparecera el nav ul (nav principal) */
        display: none;
    }

    
    .nav{
        height: 37px;
        width: 100%;
        background-color: #377bfc;
        /* se le indica el ancho y alto del nav para la resolucion de movil de cambia el color del background a uno mas oscuro */
    } 

    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
        /* con las nuevas propiedades optenidas del button conteiner se queda en position absolut y se le inidican las nuevas medidas del ancho y alto  */
    }
    .nav__li-conteiner{
        position: relative;
        top: -1000px;
        height: calc(100vh - 64px); 
        /* se hace un calculo con el alto con el viewport heigth usando la propiedad calc  */
        background-color: #679af883;
        transition: all 1s;
        z-index: 1; 
        /* se le indica que se le posisione por debajo de la los demas elementos con el z index */
        height: 450px;
        padding-top: 27px;
    }

    .nav__responsive-li{
        width: 100%;
        padding: 10px 20px;
        /* indicamos que se le da el ancho del 100% y un espaciado  */
    }
    .nav__responsive-li i{
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: #0d28c4;
        /* se le otorgan prodiedades al los iconos similares a las del menu principal */
    }
    .nav__responsive-li a{
        font-family: 'Antonio', sans-serif;
        font-size: 25px;
        color: #0d28c4;
        text-decoration: none;
        /* se le otorgan prodiedades al los iconos similares a las del menu principal */
    }
    .nav__responsive-ul:hover > .nav__li-conteiner{
    top: -27px;
    }
  /* se coloca un efecto hover para simular la pulsacion de un toque en un dispositivo movil */
}