
.nav__responsive-ul{
    display: none;
}
.nav{
    background: #377bfa;
}
.nav__li{
    display: inline-block;
    padding: 10px;
    color: #edf1ea;
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
}
